<!-- section start -->
<!-- ================ -->
<section id="section-5" class="section stats padding-bottom-clear dark-translucent-bg">
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8 text-center">        
        <ul class="social-links circle animated-effect-1 margin-clear text-center space-bottom">
          <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li class="xing"><a href="#"><i class="fa fa-xing"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- section end -->
<div class="subfooter">
  <div class="container">
    <div class="subfooter-inner">
      <div class="row">
        <div class="col-12">
          <p class="text-center">Copyright © 2018</p>
        </div>
        <div class="col-12">
            <div class="pull-left">
                <a href="#" routerLink="/imprint">Impressum</a> | 
                <a href="#" routerLink="/privacy">Datenschutz</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>