<!-- section start -->
<!-- ================ -->
<section id="section-5" class="section pv-40 stats padding-bottom-clear dark-translucent-bg">
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8 text-center pv-20">
        <h2 class="text-center">Contact Us</h2>
        <div class="separator"></div>
        <p class="lead text-center">It would be great to hear from you! Just drop us a line and ask for anything with
          which you think we could be helpful. We are looking forward to hearing from you!</p>
        <ul class="list-inline mb-20 text-center">
          <li class="list-inline-item"><i class="text-default fa fa-map-marker pr-1"></i>Street Address No, City</li>
          <li class="list-inline-item"><a href="#" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-1"></i>+00
              1234567890</a></li>
          <li class="list-inline-item"><a href="#" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-1"></i>example@your_domain.com</a></li>
        </ul>
        <div class="separator"></div>
        <ul class="social-links circle animated-effect-1 margin-clear text-center space-bottom">
          <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li class="xing"><a href="#"><i class="fa fa-xing"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- section end -->
<div class="subfooter">
  <div class="container">
    <div class="subfooter-inner">
      <div class="row">
        <div class="col-12">
          <p class="text-center">Copyright © 2018. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>