<div class="banner clearfix">
  <div id="slider-banner-fullscreen" class="hc-slideshow hc-slideshow--fullscreen carousel slide carousel-fade"
    data-ride="carousel" data-interval="9000" data-wrap="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="fullscreen-slide">
          <div class="background-image" style="background-image:url('assets/images/building.jpg');"></div>
          <div class="background-image-overlay"></div>
          <div class="container">
            <div class="hc-slideshow-caption p-3 w-100">
              <div class="row">
                <div class="col-md-8">
                  <h1 class="text-animation title large text-white animated fadeInLeft hc-animation-delay-1000">Stations
                  </h1>
                  <div class="separator-2 animated fadeInUp hc-animation-delay-1250"></div>
                  <div class="padded-multiline">
                    <p class="large animated fadeInLeft hc-animation-delay-1250">
                      Hier finden Sie einen kurzen Überblick meiner beruflichen Laufbahn.
                    </p>
                  </div>
                  <a (click)="scrollToElement(target)"
                    class="btn btn-default btn-lg animated fadeInLeft hc-animation-delay-1500">Details</a>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section #target class="main-container scroll-with-offset">
  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h2 class="title">Berufliche <strong>Stationen</strong></h2>
        <div class="separator-2"></div>
        <!-- page-title end -->

        <!-- timeline grid start -->
        <!-- ================ -->
        <div class="timeline clearfix">

          <div class="timeline-date-label clearfix">Januar 2019</div>

          <!-- timeline grid item start -->
          <div class="timeline-item">
            <!-- blogpost start -->
            <article class="blogpost hc-shadow-2 light-gray-bg bordered" data-animation-effect="fadeInUpSmall"
              data-effect-delay="100">
              <header>
                <h2>Motor Presse Stuttgart GmbH & Ko. KG</h2>
                <div class="post-info">
                  <span class="post-date">
                    <i class="fa fa-calendar-o pr-1"></i>
                    <span class="day"></span>
                    <span class="month">Januar 2019</span>
                  </span>
                </div>
              </header>
              <div class="blogpost-content">
                <p>Anstellung als Webentwickler / Software-Entwickler</p>
                <ul>
                  <li>Konzeption und Programmierung von High-Traffic Websites und Webapplikationen</li>
                  <li>Entwurf von Software-Architekturen</li>
                  <li>Umsetzung relationaler und NoSQL Datenbankanwendungen</li>
                  <li>Erstellung und Integration von RESTful APIs</li>
                  <li>Technische Beratung und Betreuung der Fachabteilungen</li>
                  <li>Koordination externer Dienstleister</li>
                  <li>Mentoring (Kollegen, Auszubildende, Trainees)</li>
                  <li>Agiles Arbeiten nach Scrum</li>
                  <li>DevOps Tätigkeiten für Ausbau und Pflege der Infrastruktur</li>
                </ul>
              </div>
              <footer class="clearfix">
                <div class="tags pull-left text-default"><i class="fa fa-tags pr-1"></i>
                  JavaScript, ES6, PHP7, Symfony, MongoDB, MariaDB, HTML5, CSS3, PHPUnit, Jest, Selenium, node.js, npm,
                  webpack, gulp, Composer, Docker, Elasticsearch, Graylog, RabbitMQ, Varnish, Redis, Linux, Jira,
                  GitLab, Ansible, Jenkins
                </div>
              </footer>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <div class="timeline-date-label clearfix">Juni 2011</div>

          <!-- timeline grid item start -->
          <div class="timeline-item pull-right">
            <!-- blogpost start -->
            <article class="blogpost hc-shadow-2 light-gray-bg bordered" data-animation-effect="fadeInUpSmall"
              data-effect-delay="100">
              <header>
                <h2>KE-COMMUNICATION GmbH & Co. KG</h2>
                <div class="post-info">
                  <span class="post-date">
                    <i class="fa fa-calendar-o pr-1"></i>
                    <span class="day"></span>
                    <span class="month">Mai 2011</span>
                  </span>
                </div>
              </header>
              <div class="blogpost-content">
                <p>Anstellung als Webentwickler / Administration</p>
                <ul>
                  <li>Konzeption und Implementierung von Websites in Kundenprojekten</li>
                  <li>Pflege und Erweiterung des internen Content-Management-Systems</li>
                  <li>Betreuung externer Websites und CMS Systeme</li>
                  <li>Customizing von Shop-Systemen</li>
                  <li>Skript-Programmierung zur Automatisierung von IT-Prozessen</li>
                  <li>Mitarbeit in externen IT-Projekten</li>
                  <li>Administrative Aufgaben im Bereich Backup und Active Directory</li>
                  <li>Hardware- und Software-Support</li>
                  <li>Schulungen</li>
                </ul>
              </div>
              <footer class="clearfix">
                <div class="tags pull-left text-default"><i class="fa fa-tags pr-1"></i>
                  JavaScript, jQuery, PHP5, Symfony, Zend, Typo3, Wordpress, HTML, CSS, Linux, Bash
                </div>
              </footer>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <div class="timeline-date-label clearfix">Januar 2009</div>

          <!-- timeline grid item start -->
          <div class="timeline-item">
            <!-- blogpost start -->
            <article class="blogpost hc-shadow-2 light-gray-bg bordered" data-animation-effect="fadeInUpSmall"
              data-effect-delay="100">
              <header>
                <h2>RTS RIEGER TEAM Werbeagentur GmbH</h2>
                <div class="post-info">
                  <span class="post-date">
                    <i class="fa fa-calendar-o pr-1"></i>
                    <span class="day"></span>
                    <span class="month">Dezember 2008</span>
                  </span>
                </div>
              </header>
              <div class="blogpost-content">
                <p>Anstellung als e-Business Programmierer</p>
                <ul>
                  <li>Technische Beratung (intern und Kunden)</li>
                  <li>Technische Konzeption von Digital-Projekten</li>
                  <li>Programmierung</li>
                  <li>Kalkulation</li>
                  <li>Kundenbetreuung im Rahmen der Projektumsetzung</li>
                  <li>Zeit- und Qualitätsmanagement</li>
                  <li>Ressourcenplanung in der Programmierung</li>
                  <li>Definition und Einführung technischer Programmierung</li>
                  <li>Ausbau der IT-Umgebungen in Zusammenarbeit mit der IT-Abteilung</li>
                  <li>Aus- und Weiterbildung von BA-Studenten</li>
                  <li>Steuerung externer Dienstleister</li>
                </ul>
              </div>
              <footer class="clearfix">
                <div class="tags pull-left text-default"><i class="fa fa-tags pr-1"></i>
                  Apache, PHP, MySQL, JavaScript, HTML, CSS, Linux, ASP, Oracle, Flash, Wordpress, Typo3
                </div>
              </footer>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->
          <div class="timeline-date-label clearfix">November 2000</div>

          <!-- timeline grid item start -->
          <div class="timeline-item pull-right">
            <!-- blogpost start -->
            <article class="blogpost hc-shadow-2 light-gray-bg bordered" data-animation-effect="fadeInUpSmall"
              data-effect-delay="100">
              <header>
                <h2>Akademie für Datenverarbeitung</h2>
                <div class="post-info">
                  <span class="post-date">
                    <i class="fa fa-calendar-o pr-1"></i>
                    <span class="day"></span>
                    <span class="month">Oktober 2000</span>
                  </span>
                </div>
              </header>
              <div class="blogpost-content">
                <p>Berufskolleg für Wirtschaftsinformatik an der ADV Böblingen (BW)</p>
                <ul>
                  <li>1. Jahr: Grundlagen in Betriebsystemen, Hardware, Programmierung, Wirtschaftswissenschaften</li>
                  <li>2. Jahr: Ganzjähriges Praktikum als Programmierer am Fraunhofer IAO </li>
                  <li>3. Jahr: Ausbausstufe in Programmierung, Wirtschaftswissenschaften</li>
                </ul>
                <p>Erfolgreicher Abschluss des Berufskolleg als "Staatlich gepfüfter Informatiker"</p>
              </div>
              <footer class="clearfix">
                <div class="tags pull-left text-default"><i class="fa fa-tags pr-1"></i>
                  Java, C, Assembler, Cobol, JavaScript, Lotus Notes, HTML, CSS, Windows, Linux, SQL
                </div>
              </footer>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <div class="timeline-date-label clearfix">Oktober 1997</div>
        </div>
        <!-- timeline grid end -->



      </div>
      <!-- main end -->

    </div>
  </div>
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8 text-center">
        <div class="separator mt-10"></div>
        <div class="space-bottom"></div>
        <a href="#" routerLink="/contact"
          class="btn btn-default-transparent btn-animation btn-animation--slide-to-right">
          Kontakt
        </a>
      </div>
    </div>
  </div>
</section>
