<div class="banner clearfix">
  <div id="slider-banner-fullscreen" class="hc-slideshow hc-slideshow--fullscreen carousel slide carousel-fade"
    data-ride="carousel" data-interval="9000" data-wrap="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="fullscreen-slide">
          <div class="background-image" style="background-image:url('assets/images/road-1.jpg');"></div>
          <div class="background-image-overlay"></div>
          <div class="container">
            <div class="hc-slideshow-caption p-3 w-100">
              <div class="row">
                <div class="col-md-8">
                  <h1 class="text-animation title large text-white animated fadeInLeft hc-animation-delay-1000">Kontakt</h1>
                  <div class="separator-2 animated fadeInUp hc-animation-delay-1250"></div>
                  <div class="padded-multiline">
                    <p class="large animated fadeInLeft hc-animation-delay-1250">
                      Sie haben das Gefühl, das was Sie von mir erfahren haben, könnte zu Ihrem Unternehmen passen? Kontaktieren Sie mich gerne persönlich, um weitere Details zu klären.
                    </p>
                  </div>
                  <a (click)="scrollToElement(target)" class="btn btn-default btn-lg animated fadeInLeft hc-animation-delay-1500">Nachricht </a>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section #target class="main-container scroll-with-offset">
  <div class="container">
    <div class="row">
      <div class="main col-lg-8 pv-20">
        <h2 class="title">Kontakt</h2>
        <div class="separator-2"></div>
        <p>Sie möchten mich persönlich kennen lernen? Sie haben eine Frage oder Anregung? Hier sind Sie richtig. Hinterlassen Sie mir einfach eine kurze Nachricht.</p>
        <div class="contact-form">
          <form class="margin-clear">
            <div class="form-row">
              <div class="form-group has-feedback col-md-6">
                <input type="text" class="form-control" id="name" placeholder="Name" required>
                <i class="fa fa-user form-control-feedback"></i>
              </div>
              <div class="form-group has-feedback col-md-6">
                <input type="email" class="form-control" id="email" placeholder="E-Mail" required>
                <i class="fa fa-envelope form-control-feedback"></i>
              </div>
            </div>
            <div class="form-group has-feedback">
              <input type="text" class="form-control" id="subject" placeholder="Betreff" required>
              <i class="fa fa-navicon form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
              <textarea class="form-control" rows="6" id="message" placeholder="Nachricht" required></textarea>
              <i class="fa fa-pencil form-control-feedback"></i>
            </div>
            <input type="submit" value="Senden" class="submit-button btn btn-lg btn-default">
          </form>
        </div>
      </div>
      <aside class="col-lg-4 col-xl-3 ml-xl-auto">
      </aside>
    </div>
  </div>
  <div class="space-bottom"></div>
</section>