
<div class="banner clearfix">
  <div id="slider-banner-fullscreen" class="hc-slideshow hc-slideshow--fullscreen carousel slide carousel-fade"
    data-ride="carousel" data-interval="9000" data-wrap="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="fullscreen-slide">
          <div class="background-image" style="background-image:url('assets/images/office-2.jpg');"></div>
          <div class="background-image-overlay"></div>
          <div class="container">
            <div class="hc-slideshow-caption p-3 w-100">
              <div class="row">
                <div class="col-md-8">
                  <h1 class="text-animation title large text-white animated fadeInLeft hc-animation-delay-1000">Kompetenzen:</h1>
                  <div class="separator-2 animated fadeInUp hc-animation-delay-1250"></div>
                  <div class="padded-multiline">
                    <p class="large animated fadeInLeft hc-animation-delay-1250">
                      Meine Kern-Kompetenzen liegen in den Bereichen Analyse, Konzeption und Implementierung. <span class="d-none d-lg-inline">Projektmanagement
                        und Koordination externer Services gehören ebenfalls dazu.</span>

                    </p>
                  </div>
                  <a (click)="scrollToElement(target)" class="btn btn-default btn-lg animated fadeInLeft hc-animation-delay-1500">Details</a>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section #target id="section-2" class="section light-gray-bg scroll-with-offset">
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8 padding-bottom-clear">

        <h2 class="mt-4 text-center">Konzeption</h2>
        <div class="separator"></div>

        <div class="hc-item-box-2">
          <span class="icon without-bg"><i class="text-default fa fa-connectdevelop"></i></span>
          <div class="body">
            <h4 class="title">Analyse und <strong>Konzeption</strong></h4>
            <p>Ausgehend von den fachlichen Anforderungen und eventuell bereits vorhandenen Systembestandteilen
              (Green-/Brownfield-Szenario) werden in der Analysephase die relevanten
              Ziele für die Applikation definiert und die technologische Basis festgelegt.
            </p>
            <p>
              Idealerweise wird die System- und Softwarearchitektur so konzipiert, dass Änderungen und
              Erweiterungen flexibel umgesetzt werden können.
              Die Applikation wird agil in iterativen Zyklen entwickelt, um die Anforderungen der Auftraggeber optimal
              zu erfüllen.
            </p>
            <p>
              Prinzipiell werden komplexere Systeme so konzipiert, dass unterschiedliche Services (z.B. RESTful APIs)
              mit einander kommunizieren.
            </p>
          </div>
        </div>
        <div class="space-bottom"></div>

        <h2 class="mt-4 text-center">Projektmanagement</h2>
        <div class="separator"></div>
        <div class="hc-item-box-2">
          <span class="icon without-bg"><i class="text-default fa fa-connectdevelop"></i></span>
          <div class="body">
            <h4 class="title">Agiles <strong>Arbeiten</strong></h4>
            <p>
              Während des gesamten Projektverlaufs wird in agilen Zyklen gearbeitet. Meist wird die Dauer von 2 Wochen
              für einen Zyklus (Sprint) gewählt.
              An dessen Ende findet ein Review des Erreichten statt und Ziele für den nächsten Sprint werden
              vereinbart.
              Somit wird sichergestellt, dass die Applikation am Ende möglichst genau dem entspricht, was sich der
              Auftraggeber vorstellt.
            </p>
            <p>
              Ebenso wie das Sprintziel wird der Gesamtfortschritt des Projekts (Kosten- und Zeitplanung) stets im
              Blick behalten, um das gemeinsame Ziel zu erreichen.
            </p>
          </div>
        </div>

        <div class="hc-item-box-2">
          <span class="icon without-bg"><i class="text-default fa fa-connectdevelop"></i></span>
          <div class="body">
            <h4 class="title">Steuerung externer <strong>Ressourcen</strong></h4>
            <p>
              Sollte es im Projekt zur Zusammenarbeit mit externen Dienstleistern kommen, wrid sichergestellt dass ein
              regelmäßiger Austausch und Abstimmung für das Erreichen der Projektziele statt finden.
            </p>
            <p>Ebenso wird dabei darauf geachtet, eine gemeinsame Terminologie-Basis zu schaffen, um eine
              optimale Kommunikation zu gewährleisten.</p>
          </div>
        </div>


        <div class="hc-item-box-2">
          <span class="icon without-bg"><i class="text-default fa fa-connectdevelop"></i></span>
          <div class="body">
            <h4 class="title">Workshops und <strong>Schulungen</strong></h4>
            <p>
              Für ein erfolgreiches Projekt ist es wichtig, dass alle Projektbeteiligten ein gemeinsames Verständnis
              entwickeln, sowohl für die fachlichen Anforderungen als auch die technischen Möglichkeiten.
            </p>
            <p>Dies kann durch Workshops oder Schulungen geschehen.</p>
            <p>
              Sofern mehrere Entwickler an einem Projekt beteiligt sind, ist auch hier ein Wissens-Transfer und
              Mentoring (z.B. für Junior Developer) sinvoll.
            </p>
          </div>
        </div>
        <div class="space-bottom"></div>


        <h2 class="mt-4 text-center">Entwicklung</h2>
        <div class="separator"></div>
        <div class="hc-item-box-2">
          <span class="icon without-bg"><i class="text-default fa fa-connectdevelop"></i></span>
          <div class="body">
            <h4 class="title">Programmierung <strong>Frontend</strong></h4>
            <p>Clientseitige Programmierung auf Basis von JavaScript. Vorzugsweise ES6 und höher. Gerne auch mit
              TypeScript, welches ein Superset von JavaScript darstellt und beim Entwickeln zusätzlichen Komfort und
              Sicherheit bietet.
            </p>
            <p>Neben der Programmierung von UI-Komponenten auf Websites kommt JavaScript auch für die Realisierung von
              webbasierten Apps oder Single Page Applications (SPA) zum Einsatz. Verwendete Frameworks: Angular 2 (und
              höher) und Ionic.</p>
          </div>
        </div>

        <div class="hc-item-box-2">
          <span class="icon without-bg"><i class="text-default fa fa-connectdevelop"></i></span>
          <div class="body">
            <h4 class="title">Programmierung <strong>Backend</strong></h4>
            <p>
              Zum Einsatz kommt in der Regel PHP7, welches der serverseitigen Script-Sprache, viele neue Features bei
              der Entwicklung bereitstellt. Zudem ist mit PHP7 prinzipiell eine bessere Performance erreichbar.
            </p>
            <p>
              Die Applikations-Entwicklung findet ausschließlich mit dem objektorientierten Ansatz statt. Zum Einsatz
              kommen Best Practices wie die Verwendung von Design Patterns und automatisierten Tests (Unit Tests und funktionale
              Tests). Basis für die meisten Anwendungen bildet das Symfony-Framework.
            </p>
          </div>
        </div>

        <div class="hc-item-box-2">
          <span class="icon without-bg"><i class="text-default fa fa-connectdevelop"></i></span>
          <div class="body">
            <h4 class="title">Realisierung <strong>UX/UI</strong></h4>
            <p>Erstellung von Benutzeroberflächen und -schnittstellen basierend auf aktuellen Webstandards wie HTML5
              und CSS3.
              Vorzugsweise Applikationen mit Responsive Design unter Berücksichtigung des Mobile First Ansatzes,
              welcher neben Design und Performance auch die Informations-Architektur berücksichtigt.
            </p>
            <p>
              Des Weiteren kommen Präprozessoren wie SASS, LESS, Stylus zum Einsatz für die optimale Strukturierung des
              eingesetzten CSS.
            </p>
          </div>
        </div>

        <div class="hc-item-box-2">
          <span class="icon without-bg"><i class="text-default fa fa-connectdevelop"></i></span>
          <div class="body">
            <h4 class="title">RDBMS und <strong>NoSQL</strong></h4>
            <p>
              Entwurf und Implementierung von relationalen (z.B. MySQL) sowie nicht relationalen, sogenannten NoSQL
              Datenbankanwendungen (z.B. mit MongoDB).
            </p>
          </div>
        </div>

        <div class="hc-item-box-2">
          <span class="icon without-bg"><i class="text-default fa fa-connectdevelop"></i></span>
          <div class="body">
            <h4 class="title">Tool<strong>chain</strong> </h4>
            <p>
              Für Frontend- und Backendprojekte werden Build-Tools wie webpack und gulp verwendet. Diese basieren auf
              node.js und werden mit Hilfe von npm installiert. Prinzipiell wird jegliches Dependency-Management mit
              den dafür vorgesehenen Tools wie npm oder Composer abgebildet.
            </p>
          </div>
        </div>

        <div class="hc-item-box-2">
          <span class="icon without-bg"><i class="text-default fa fa-connectdevelop"></i></span>
          <div class="body">
            <h4 class="title">Git und <strong>git-flow</strong></h4>
            <p>
              Alle Projekte werden mit Git verwaltet um jederzeit Zugriff auf die unterschiedlichen Code-Versionen
              eines Projektes zu haben. Das ermöglicht maximale Transparenz in der Entwicklung für alle Mitglieder des
              Teams.
            </p>
            <p>
              Zudem bietet es einfache Möglichkeiten verschiedene neue Features oder Patches zur parallel aktuellen
              Code-Basis
              zu entwickeln. Als Prozess-Tool wird git-flow verwendet.

            </p>
          </div>
        </div>
        <div class="space-bottom"></div>


        <h2 class="mt-4 text-center">DevOps</h2>
        <div class="separator"></div>
        <div class="hc-item-box-2">
          <span class="icon without-bg"><i class="text-default fa fa-connectdevelop"></i></span>
          <div class="body">
            <h4 class="title">VMs und <strong>Continuous Integration</strong></h4>
            <p>Für die Entwicklung kommen meist virtuelle Maschinen (VM) zum Einsatz welche mit Vagrant oder Docker
              aufgesetzt werden. Dies bietet der Vorteil, die Systemumgebung des Live-Systems für alle Mitglieder des
              Teams nahezu identisch bereit stellen zu können.
            </p>
            <p>
              Zudem werden nach Möglichkeit automatisierte Tests des neu erstellten Codes und automatische Deployments
              auf Testsysteme durchgeführt, um eine möglichst hohe Qualität sicher zustellen (z.B. mit Jenkins).
            </p>
          </div>
        </div>
        <div class="space-bottom"></div>
        <div class="separator"></div>
        <div class="text-center">
            <a href="#" routerLink="/timeline" class="btn btn-default-transparent btn-animation btn-animation--slide-to-right">
              Timeline                    
            </a>
        </div>        
        <div class="space-bottom"></div>
      </div>
    </div>
  </div>
</section>