<div class="banner clearfix">
  <div id="slider-banner-fullscreen" class="hc-slideshow hc-slideshow--fullscreen carousel slide carousel-fade"
    data-ride="carousel" data-interval="9000" data-wrap="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="fullscreen-slide">
          <div class="background-image" style="background-image:url('assets/images/macbook-2.jpg');"></div>
          <div class="background-image-overlay"></div>
          <div class="container">
            <div class="hc-slideshow-caption p-3 w-100">
              <div class="row">
                <div class="col-md-8">
                  <h1 class="title large text-white animated fadeInDown hc-animation-delay-1000"><span
                      class="text-default">Hallo,</span><br>ich bin Kai</h1>
                  <div class="separator-2 animated fadeInUp hc-animation-delay-1250"></div>
                  <p class="large animated fadeInLeft hc-animation-delay-1500">Ich bin ein Full Stack Web Developer.
                    Sie möchten mehr über mich wissen? Dann sind Sie hier richtig.</p>
                  <a (click)="scrollToElement(target)"
                    class="btn btn-default btn-lg animated fadeInLeft hc-animation-delay-1750">Mehr erfahren</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section #target class="main-container scroll-with-offset">
  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h2 class="title">Über mich</h2>
        <div class="separator-2 mb-20"></div>
        <!-- page-title end -->
        <div class="row">
          <div class="col-lg-6">
            <p>
              Seit gut 20 Jahren beschäftige ich mich mit digitalen Lösungen, vornehmlich im Bereich Frontend- und
              Backendentwicklung. Durch meine Fachkenntnisse und zahlreiche Erfahrungen profitieren Kollegen, Projekte
              und Kunden gleichermaßen.
            </p>
            <p>Aber Business ist nicht alles. Neben der Zeit mit Familie und Freunden, gehören auch Reisen und Fußball
              zu meiner Freizeit.</p>
            <p>Auf diesen Seiten finden Sie noch weitere Details, zum Beispiel über die
              Technologien, mit welchen ich bisher gearbeitet habe.
            </p>
          </div>
          <div class="col-lg-6">
            <img src="assets/images/kai3.png" alt="Bild zeigt Kai Böker" title="Kai Böker">
          </div>
        </div>
      </div>
      <!-- main end -->
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8 text-center">
        <div class="separator mt-10"></div>
        <div class="space-bottom"></div>
        <a href="#" routerLink="/technology-stack"
          class="btn btn-default-transparent btn-animation btn-animation--slide-to-right">
          Technology Stack
        </a>
      </div>
    </div>
  </div>
</section>
