      <div class="banner clearfix">

        <div id="slider-banner-fullscreen" class="hc-slideshow hc-slideshow--fullscreen carousel slide carousel-fade" data-ride="carousel" data-interval="9000" data-wrap="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="fullscreen-slide">
                <div class="background-image" style="background-image:url('assets/images/macbook-2.jpg');"></div>
                <div class="background-image-overlay"></div>
                <div class="container">
                  <div class="hc-slideshow-caption p-3 w-100">
                    <div class="row">
                      <div class="col-md-8">
                        <h1 class="title large text-white animated fadeInDown hc-animation-delay-1000">Hallo, mein Name ist <br><span class="text-default">Kai Böker</span></h1>
                        <div class="separator-2 animated fadeInUp hc-animation-delay-1250"></div>
                        <p class="large animated fadeInLeft hc-animation-delay-1500">Ich bin Full Stack Developer. Sie möchten mit mir zusammenarbeiten? Gerne erzähle ich Ihnen mehr über mich.</p>
                        <a routerLink="/technology-stack" class="btn btn-default btn-lg animated fadeInLeft hc-animation-delay-1750">Mehr erfahren</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="main-container">
        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">

              <!-- page-title start -->
              <!-- ================ -->
              <h2 class="title">Über mich</h2>
              <div class="separator-2 mb-20"></div>
              <!-- page-title end -->

              <div class="row">
                <div class="col-lg-8">
                  <p>Hallo, mein Name ist Kai Böker. Ich bin Full Stack Webdeveloper und möchte Ihnen auf diesen Seiten einen Eindruck vermitteln, in welchen Bereichen ich bisher gearbeitet habe.</p>
                  <p>Ich beschäftige mich seit gut 20 Jahren mit Internet-Technologien, vornehmlich im Bereich der Frontend- und Backendentwicklung.
                  In dieser Zeit konnte viele wertvolle Erfahrungen in der Realisierung umfangreicher und spannender Projekte sammlen.</p>
                  <p>Ich freue mich, wenn ich meine Erfahrungswerte und Fachwissen in neuen interessanten Digital-Projekten einsetzen kann.</p>
                  <p>In meiner Freizeit unternehme ich am liebsten etwas mit Familie und Freunden. Ich mag die Berge und das Meer. Ausserdem spiele ich noch regelmäßig Fussball um nicht ganz einzurosten :-)</p>
                  <div class="separator-2 mb-20"></div>
                  <img src="assets/images/person-2.jpg" alt="" style="max-width: 50%">
                  <div class="separator-2 mb-20"></div>
                </div>

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="sidebar col-lg-4">
                  <div class="block clearfix">
                  </div>
                </aside>
                <!-- sidebar end -->
              </div>

             
            </div>
            <!-- main end -->

          </div>
        </div>
      </section>